.fundoCadastro {
    background-image: url("https://img.freepik.com/fotos-gratis/oculos-e-livro-perto-de-folhas-e-cobertor-quente_23-2147943382.jpg?t=st=1738113709~exp=1738117309~hmac=c70bf854426ddbe0d75b1c05be4d498e34f870bf49b5110c0e504945fe7a0f12&w=740");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }